/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
	background-color: #D0D0E0;
}

#navbar{
	color: white;
	background-color: #9090C0;
 	border-color: #8383C1;
 	position: sticky;
 	top: 0;
 	z-index: 100;
}

#contactform{
	background-color: #606090;
}

#footer{
	background-color: #9090C0;
}